@import "tailwindcss";

:root {
  --background: #ededfc;
  --foreground: #181545;
  --primary: #4f46e5;
  --primary-light: #9590ef;
  --accent: #a7a3f2;
}

@theme inline {
  --font-heading: var(--font-gothic);
  --font-body: var(--font-inter);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-accent: var(--accent);

  --text-sz-xl: clamp(1.75rem, calc(2.857vw + 1.17rem), 3.75rem);
  --text-sz-lg: clamp(1.5rem, calc(2.142vw + 1.366rem), 3rem);
  --text-sz-md: clamp(1rem, calc(0.714vw + 0.857rem), 1.5rem);
}

.dark {
  --background: #1a1c32;
  --foreground: #f2f4fe;
  --primary: #818cf8;
  --primary-light: #b3bafb;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: var(--font-gothic), sans-serif;
}

@utility gradient-highlight {
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-primary-light)
  );
  background-clip: text;
  color: transparent;
}

@utility el-shadow {
  box-shadow: 0 0 12px var(--primary-light);
}
