@import "tailwindcss";

:root {
  --background: #f1f1f1;
  --foreground: #010417;
  --accent: #e889e5;
  --gradient: linear-gradient(to right, #04afc2, #82edf9);
  --btn-primary: linear-gradient(45deg, #031473, #031473, #04afc2);
  --btn-primary-hover: linear-gradient(45deg, #02105c, #02105c, #038391);
}

@theme inline {
  --font-heading: var(--font-gothic);
  --font-body: var(--font-inter);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-btn-primary: var(--btn-primary);
  --color-btn-primary-hover: var(--btn-primary-hover);
}

.dark {
  --background: #010417;
  --foreground: #c6c4cc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: var(--font-gothic), sans-serif;
}
