@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ededfc;
  --foreground: #181545;
  --primary: #4f46e5;
  --primary-light: #9590ef;
  --primary-shade: #06002d;
  --accent: #b7b3ff;
  --card: #ffffff;
  --text-muted: #5d5b7d;
}

@theme inline {
  --font-heading: var(--font-gothic);
  --font-body: var(--font-inter);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-shade: var(--primary-shade);
  --color-primary-off: var(--primary-off);
  --color-accent: var(--accent);
  --color-card: var(--card);
  --color-text-muted: var(--text-muted);

  --text-sz-xl: clamp(1.75rem, calc(2.857vw + 1.17rem), 3.75rem);
  --text-sz-lg: clamp(1.5rem, calc(2.142vw + 1.366rem), 3rem);
  --text-sz-sect: clamp(1.625rem, calc(0.892vw + 1.446rem), 2.25rem);
  --text-sz-subsect: clamp(1.125rem, calc(0.535vw + 1.232rem), 1.5rem);
  --text-sz-md: clamp(1rem, calc(0.714vw + 0.857rem), 1.5rem);
}

.dark {
  --background: #1a1c32;
  --foreground: #f2f4fe;
  --primary: #818cf8;
  --primary-light: #b3bafb;
  --primary-shade: oklch(0.9 0.12 276.789);
  --primary-off: #4f46e5;
  --card: #000000;
  --text-muted: #a9abb2;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: var(--font-gothic), Arial, Helvetica, sans-serif, sans-serif;
}

@utility gradient-highlight {
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-primary-light)
  );
  background-clip: text;
  color: transparent;
}

@utility btn-gradient {
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-primary-light)
  );
}

@utility el-shadow {
  box-shadow: 0 0 12px var(--primary-light);
}
